.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #1f2833;
}

.btn-secondary {
  background-color: #324153;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f2833;
  color: #c5c6c7;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar nav li {
  padding: 15px;
}

.navbar h1 {
  font-size: 24px;
}

.navbar a {
  text-transform: uppercase;
  color: #c5c6c7;
  padding-bottom: 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #c5c6c7;
}

.showcase {
  margin-top: 30px;
}

.showcase h2, .showcase h3 {
  color: #66fcf1;
  line-height: 1.2;
}

.showcase h2 {
  font-size: 20px;
}

.showcase h3 {
  font-size: 34px;
}

.showcase p {
  margin: 15px 0;
}
